@using Common.Const;
@using Common.DTO.OrderDTO;
@using Common.Pagination
@model Pagination<OrderListDTO>
@{
    int No = 1;
}
<section class="user-dashboard page-wrapper" style="height: 160vh">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-wrapper user-dashboard">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Order Date</th>
                                    <th>Status</th>
                                    <th>Address</th>
                                    <th>Note</th>
                                    <th class="col-md-2 col-sm-3">Detail</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (OrderListDTO order in Model.Results)
                                {
                                    string color;
                                    if (order.Status == OrderConst.STATUS_PENDING)
                                    {
                                        color = "gold";
                                    }
                                    else if (order.Status == OrderConst.STATUS_APPROVED)
                                    {
                                        color = "green";
                                    }
                                    else
                                    {
                                        color = "red";
                                    }
                                    <tr>
                                        <td>@No</td>
                                        <td>@order.OrderDate</td>
                                        <td class="ant-table-cell"><span style="color:@color">@order.Status</span></td>
                                        <td>@order.Address</td>
                                        <td>@order.Note</td>
                                        <td><a href="/MyOrder/Detail/@order.OrderId" class="btn btn-success">Detail</a></td>
                                    </tr>
                                    No++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        @if (Model.NumberPage > 1)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center list-group" style="margin-left: 50%">
                    <li class="page-item @(Model.PageSelected == 1 ? " disabled" : "")"><a class="page-link btn btn-primary btn-lg @(Model.PageSelected == 1 ? " disabled" : "" )" href="@Model.FIRST_URL" aria-disabled="true" role="button">First</a></li>
                    <li class="page-item @(Model.PageSelected == 1 ? "disabled" : "")"><a class="page-link btn btn-primary btn-lg @(Model.PageSelected == 1 ? "disabled" : "")" href="@Model.PRE_URL" aria-disabled="true" role="button">Previous</a></li>
                    <li class="page-item"><a class="page-link btn btn-primary btn-lg" href="" aria-disabled="true" role="button">@Model.PageSelected/@Model.NumberPage</a></li>
                    <li class="page-item @(Model.PageSelected == Model.NumberPage  ? " disabled" : "")"><a class="page-link btn btn-primary btn-lg @(Model.PageSelected == Model.NumberPage ? "disabled":"")" href="@Model.NEXT_URL" aria-disabled="true" role="button">Next</a></li>
                    <li class="page-item @(Model.PageSelected == Model.NumberPage ? " disabled" : "")"><a class="page-link btn btn-primary btn-lg @(Model.PageSelected == Model.NumberPage ? " disabled" : "")" href="@Model.LAST_URL" aria-disabled="true" role="button">Last</a></li>
                </ul>
            </nav>
        }
    </div>
</section>
