@using Common.DTO.CategoryDTO;
@using Common.DTO.ProductDTO;
@using Common.Pagination
@model Dictionary<string,object>
@{
    Pagination<ProductListDTO> result = (Pagination<ProductListDTO>)Model["result"];
    List<CategoryListDTO> list = (List<CategoryListDTO>) Model["list"];
    int CategoryID = (int) Model["CategoryID"];
    string name = (string) Model["name"];
    int? role = Context.Session.GetInt32("role");
}

    <div class="row" style="margin-left:3%">
    <form action="Home">
        <div class="form-group">
            <input type="text" class="form-control" name="name" placeholder="Search" value="@name" /><br /><br />
        </div>
        <div class="form-group">
            <label class="form-label" for="CategoryID">Category:</label>
            <select name="CategoryID" class="form-control" id="CategoryID" style="width: 300px">
                <option value="@null">ALL</option>
                @foreach (CategoryListDTO DTO in list)
                {
                    <option value="@DTO.Id" selected="@(DTO.Id == CategoryID)">@DTO.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-outline-primary ms-lg-2">Search</button>
        </div>
    </form>
    <br />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Image</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category Name</th>
                @if(role.HasValue)
                {
                    <th>Add Cart</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (ProductListDTO DTO in result.Results)
            {
                <tr>
                    <td>@DTO.ProductName</td>
                    <td>
                        <img src="@DTO.Image" height="50" width="50" alt="">
                    </td>
                    <td>@DTO.Price</td>
                    <td>@DTO.Quantity</td>
                    <td>@DTO.CategoryName</td>
                    @if (role.HasValue)
                    {
                        <td>
                            <button class="posision-fixed" style="radius: 10px">
                                <a href="/Cart/Create?ProductID=@DTO.ProductId">
                                    Add to Cart
                                </a>
                            </button>
                        </td>
                    }        
                </tr>
            }
        </tbody>
    </table>

    </div>

    @if (result.NumberPage > 1)
    {
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center list-group" style="margin-left: 50%">
                <li class="page-item @(result.PageSelected == 1 ? "disabled" : "")"><a class="page-link btn btn-primary btn-lg @(result.PageSelected == 1 ? "disabled" : "")" href="@result.FIRST_URL" aria-disabled="true" role="button">First</a></li>
                <li class="page-item @(result.PageSelected == 1 ? "disabled" : "")"><a class="page-link btn btn-primary btn-lg @(result.PageSelected == 1 ? "disabled" : "")" href="@result.PRE_URL" aria-disabled="true" role="button">Previous</a></li>
                <li class="page-item"><a href="" class="page-link btn btn-primary btn-lg">@result.PageSelected/@result.NumberPage</a></li>
                <li class="page-item @(result.PageSelected == result.NumberPage ? "disabled" : "")"><a class="page-link btn btn-primary btn-lg @(result.PageSelected == result.NumberPage ? "disabled" : "")" href="@result.NEXT_URL" aria-disabled="true" role="button">Next</a></li>
                <li class="page-item @(result.PageSelected == result.NumberPage ? "disabled" : "")"><a class="page-link btn btn-primary btn-lg @(result.PageSelected == result.NumberPage ? "disabled" : "")" href="@result.LAST_URL" aria-disabled="true" role="button">Last</a></li>
            </ul>
        </nav>
    }